<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
  </head>
  <body>
    <section class="books">
      <h2>Books</h2>
      <ul>
        {{#each books}}
          <li class="book">
            <figure>
              <img src="{{cover_url}}" alt="{{title}} book cover">
            </figure>
            <div class="">
              <h3>{{title}}</h3>
              <span class="genre">{{genre}}</span>
              <p>{{description}}</p>
            </div>
          </li>
        {{/each}}
      </ul>
    </section>
  </body>
</html>
